{% extends 'base.html'%}
{% load static %}
{% block content%}
<div class="text-center fs-1">
    About <b class="txt-mycolor "> Us  <i class="fa-solid fa-users pe-1"></i></b>
      </div>
<div class="text-center">
    <img src="{% static 'images/about.jpg'%}" height="500px" class="img-responsive w-100 p-0"/>
</div>
      <div class="card-img-overlay p-5">
    <p class="card-text mx-3" style=" margin-top:450px; padding:40px;">
        <h1 class="text-center text-light"> Instant commerce indistinguishable from magic</h1>

    </p>
  </div>

</div>

<div class="row">
    <div class="col-sm-8 mx-auto">
        <span class="txt-mycolor" style="font-size:25px; font-weight:bold;" >100x retail in 5 years </span> <br/>
<p class="mt-2" style="text-align:justify;"> Imagine needing something when you are at home and getting it before you have tied your shoelaces to step out. We are revolutionizing e-commerce by making the stuff most important to you, available to you in a blink of your eye.

We want our customers to focus on the more important things for themselves and not need to plan for the little things that life needs on an everyday basis. We are here to get your chores out of your way.

Our mission is – “instant commerce indistinguishable from magic”. Using a backbone of technology, data sciences, and rich customer insights, we've built a dense and fast network of partner stores enabling lightning fast deliveries in minutes.

We are already one of the largest e-grocery companies in India. Our ambition however, is to be 100x this size in the next five years.

In order to become one of the most important e-retail companies of our generation, we need builders who can think on their feet, take extreme ownership and commit to making outcomes happen. If you are ambitious, smart, and don’t have an ego about it, we’d love to hear from you.

Opportunities to create $100 billion businesses in India are rare. We are on the way and looking for the hungry.</p> <br/></br>

<p class="txt-mycolor">"Foodie's Fort" is owned & managed by "Food Commerce Private Limited” (formerly known as Grofers India Private Limited) and is not related,
    linked or interconnected in whatsoever manner or nature, to “GROFFR.COM” which is a real estate services
    business operated by “Redstone Consultancy Services Private Limited”</p><br/>
        <h2 class="txt-mycolor"> From our blog</h2>
Explore our blog to check out what we’re up to and what makes us tick at Foodie's Fort.
 </div>
</div>
<div class="row mt-4">
    <div class="col-sm-3 " style="margin-left:250px;">
        <div class="card" >
  <img src="{% static 'images/print.jpeg'%}" class="card-img-top" alt="...">
  <div class="card-body">
       <h5 class="card-title">India’s First Instant Print Delivery Store: Leveraging IoT to deliver printouts to your doorstep</h5>
    <p class="card-text">A geeky walk through on what made
        Foodie's Fort print services a reality, and how we set up our infrastructure to create this quick and scalable</p>
  </div>
</div>
    </div>
    <div class="col-sm-3 ms-2">
        <div class="card" >
  <img src="{% static 'images/brand.jpeg'%}" class="card-img-top" alt="...">
  <div class="card-body">
       <h5 class="card-title">Introducing Brand Stores</h5>
    <p class="card-text">A new avenue on Blinkit for brands to showcase their products
        effectively – tailored to their own unique style and aesthetic.
    At this point, we are operational in over 500 localities giving access to our customers.</p>
  </div>
</div>
    </div>
    <div class="col-sm-3 ms-2">
        <div class="card" >
  <img src="{% static 'images/robot.webp'%}" class="card-img-top" alt="...">
  <div class="card-body">
       <h5 class="card-title">Meet Recipe Rover: Foodie’s generative AI recipe engine</h5>
    <p class="card-text"><b>“Aaj kya khana hai? Aaj kya banana hai”?</b>
        This is the one question that plagues most households every morning!
        There are the blessed few  who are happy to eat the same thing everyday.</p>
  </div>
</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mt-4" style="margin-left:250px;"><h2 class="txt-mycolor">Our shared philosophy</h2></div>
    <div class="row mt-4">
        <div class="col-sm-4" style="margin-left:250px;">
<div class="card">
  <img src="{% static 'images/mindsets.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
       <h5 class="card-title">Mindsets & leverage points</h5>
    <p class="card-text">We believe that being a leader is a mindset, much more than it is a title.
        And are codifying the operating principles that leaders at Foodie follow at all times</p>
  </div>
</div>
        </div>
        <div class="col-sm-4">
            <div class="card ms-5">
  <img src="{% static 'images/learning.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
       <h5 class="card-title">Learning organisation</h5>
    <p class="card-text">We are a group of people who are constantly learning the skills we need,
        and continuously improving upon ourselves to create the future we desire.</p>
  </div>
</div>
        </div>
    </div>
</div>

<div class="mt-4 mb-4" style="margin-left:250px;">
    <h4> #1 instant delivery service in India</h4>
<p style="padding-right:500px;">Shop on the go and get anything delivered in minutes. Buy everything
    from groceries to fresh fruits & vegetables, cakes and bakery items, to meats & seafood,
    cosmetics, mobiles & accessories, electronics, baby care products and much more.
    We get it delivered at your doorstep in the fastest and the safest way possible.</p>

<h4>single app for all your daily needs</h4>
<p style="padding-right:500px;">Order thousands of products at just a tap - milk, eggs, bread, cooking oil, ghee, atta, rice,
    fresh fruits & vegetables, spices, chocolates, chips, biscuits, Maggi, cold drinks,
    shampoos, soaps, body wash, pet food, diapers, electronics, other organic and
    gourmet products from your neighbourhood stores and a lot more.</p>

<h4>order online on Blinkit to enjoy instant delivery magic</h4>
<p style="padding-right:500px;">Cities we currently serve: Ahmedabad, Bengaluru, Chandigarh, Chennai,
    Delhi, Faridabad, Gurgaon, Haridwar, HR-NCR, Hyderabad, Jaipur,
    Jalandhar, Kanpur, Kolkata, Lucknow, Ludhiana, Meerut, Mohali, Mumbai,
    Panchkula, Pune, UP-NCR, Vadodara.</p>
</div>

{% endblock%}
